header{
    div#Menubutton{
        position: fixed;
        padding: 15px;
        left: 0;
        top: 5px;
        font-size: 25px;
        background-color: rgba(255,255,255,.8);
        color: black;
    }
    div.logo{
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
        img{
            height: 15rem;
        }
    }
    div.wave{
        background-image: url('img/wave.png');
        height: 142px;
        width: 100%;
        margin-top: 30px;
    }
    div.tagline{
        font-family: $f-fancy;
        font-size: 18px;
    }
    @media screen and (min-width: 970px) {
        padding-bottom: 50px;
    }
}

/* Main nav */
.mainnav{
    padding: 30px;
    a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 22px;
        color: black;
        display: block;
        transition: 0.3s;
        font-family: $f-fancy;
        text-transform: uppercase;
        display: inline-block;
    }
    a:hover, a:focus{
        color: black;
        text-decoration: underline;
    }
    
}


/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: white; 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    background-color: $c-pink;
    box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    .fa-3{
        font-size: 30px;
    }
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 22px;
    color: black;
    display: block;
    transition: 0.3s;
    font-family: $f-fancy;
    text-transform: uppercase;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: black;
    text-decoration: underline;
    margin-left: 15px;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 25px;
    margin-left: 50px;
    color: black;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    position: relative;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}